{% extends "layout.twig" %}
{% block content %}

	<div class="bk-pt-home" id="wrap">
		<nav class="bk-nav" id="#bk-nav">
			<div class="container">
				<div class="row">
					{{widget('extendednavigation', 'header-navigation', {"align":"right"})|raw}}
				</div><!--end row-->
			</div><!--end container-->
		</nav><!--end bk-nav-->

		<div class="bk-feature">
			<section class="slide-1">	
				<div class="contain">
					{{widget('feature', 'feature-slide-1', {"header": "Slide One", "strapline":"Strapline for slide one.", "buttonText":"LORUM IPSUM", "defaultBgImg": asset('images/feature-bg.jpg'), 'positionTopPercentage': '50','showBtn': true})|raw}}
				</div>
			</section>

			<section class="slide-2">	
				<div class="contain">
					{{widget('feature', 'feature-slide-2', {"header": "Slide Two", "strapline":"Strapline for slide one.", "buttonText":"Find out more today →", 'positionTopPercentage': '50','showBtn': true})|raw}}
				</div>
			</section>

			<section class="slide-3">	
				<div class="contain">
					{{widget('feature', 'feature-slide-3', {"header": "Slide Three", "strapline":"Strapline for slide one.", "buttonText":"Find out more today →", 'positionTopPercentage': '50','showBtn': true})|raw}}
				</div>
			</section>
		</div>

		<header class="bk-header">
					{{widget('logo', 'logo', {"defaultlogo": asset('images/nordic-logo.png'),"showTplWidget":"0"})|raw}}
					{{widget('companyname', 'companyname', {"business": "profile"})|raw}}
		</header>

	</div><!--end bk-pt-home-->

{% endblock %}