<!-- Sponsor -->
<div class="sponsor-logo">
	<img src="{{asset('/images/oxford-logo.png')}}" />
	{{widget('content', 'sponsor-1', { content: '
		<p>Proud sponsors of <a href="/store" target="_blank">Oxford United FC</a></p>
	'})|raw}}
</div>

<!-- Feature: Footer !-->
<div class="feature-footer">
	<div class="container">
		<div class="flex-container  span-grid--space  flex-vac">
			<div class="flex-item">
				<img src="{{asset('/images/logo-wht.png')}}" />
			</div>
			<div class="flex-item">
				<!-- <img src="{{asset('/images/oxford-logo.png')}}" /> -->
				{{widget('button', 'footer-button', {
				  'text': 'Follow us on Twitter',
				  'action': 'external',
				  'url': 'https://twitter.com/BlacknRounds',
				  'target': '_blank'
				})|raw}}
			</div>
		</div>
	</div>
</div>