<!-- Footer Include -->
{% include 'includes/feature-footer.twig' %}

<footer class="bk-footer">
	<div class="container">

		<div class="flex-container  span-grid--space">
			<div class="flex-item">
				{{widget('content', 'footer_content1', { content: '<h4>Address</h4>'})|raw}}
				{{widget('content', 'footer_content2', { content: '<p>Unit 6 Silverstone Park West, <br>Buckingham Road, Silverstone,<br> Towcester, NN12 8TJ</p>'})|raw}}
				<div class="bk-footer-tier">
					{{widget('content', 'footer_content3', { content: '<h4>Telephone</h4>'})|raw}}
					{{widget('content', 'footer_content4', { content: '<p>01327 858 044</p>'})|raw}}
				</div>
			</div>
			<div class="flex-item">
				{{widget('content', 'footer_content10', { content: '<h4>Opening Times</h4>'})|raw}}
				{{widget('content', 'footer_content11', { content: '
					<p>09:00 – 18:15 - Monday to Thursday</p>
					<p>09:00 – 17:15 - Friday</p>
					<p>09:00 – 12:00 - Saturday</p>
				'})|raw}}
			</div>
			<div class="flex-item">
				{{widget('content', 'footer_content8', { content: '<h4>Social</h4>'})|raw}}
				{{widget('content', 'footer_content9', { content: '
					<p><a href="http://twitter.com/blacknrounds" target="_blank">Twitter</a></p>
					<p><a href="http://facebook.com/blacknrounds" target="_blank">Facebook</a></p>
				'})|raw}}
			</div>
			<div class="flex-item">
				{{widget('content', 'footer_content4', { content: '<h4>Information</h4>'})|raw}}
				{{widget('content', 'footer_content5', { content: '
					<p><a href="http://www.silverstone.co.uk/experiences/" target="_blank">Silverstone Experiences</a></p>
					<p><a href="http://www.silverstone.co.uk/venue-track/" target="_blank">Silverstone Track Days</a></p>
				'})|raw}}

				<div class="bk-footer-tier">
					{{widget('content', 'footer_content6', { content: '<h4>Sponsorships</h4>'})|raw}}
					{{widget('content', 'footer_content7', { content: '
						<p><a href="http://www.oufc.co.uk/" target="_blank">Oxford United FC</a></p>
						<p><a href="http://quantelbifoldracing.com/" target="_blank">Quantel Bifold Racing</a></p>
					'})|raw}}
				</div>
			</div>
		</div>

	</div>
</footer>

<!-- Sub Footer -->
<div class="bk-sub-footer">
	<div class="container">
		<div class="flex-container  span-grid--space">
			<div class="flex-item">
				{{widget('content', 'footer_content10', { content: '<p>© 2015 Black n Rounds. All rights reserved. Black n Rounds Limited</p>'})|raw}}
			</div>
			<div class="flex-item">
				{{widget('content', 'footer_content11', { content: '<p>Powered by <a href="https://www.uk2.net/" target="_blank">UK2</a></p>'})|raw}}
			</div>
		</div>
	</div>
</div>
